<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Energy Hub</title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<%
local function formatPower(aValue)
	if not(aValue) then
		return ""
	end
	return string.format("%.1f", aValue)
end

local function formatEnergy(aValue)
	if not(aValue) then
		return ""
	end
	return string.format("%.3f", aValue)
end
local function formatTimeDiff(aDiff)
	if (aDiff > 3600) then
		local hours = math.floor(aDiff / 3600)
		local minutes = math.floor((aDiff % 3600) / 60)
		return string.format("%d hours and %d minutes", hours, minutes)
	end
	local minutes = math.floor(aDiff / 60)
	return string.format("%d minutes", hours, minutes)
end
%>
<body>

<h1>Home Energy Hub</h1>

<h2>Latest Measurement</h2>
<% if (latestMeasurement.timeStamp) then %>
	<p>Time: <%= os.date("%Y-%m-%d %H:%M:%S", latestMeasurement.timeStamp) %>
	<% if (currentTime - latestMeasurement.timeStamp > 120) then %>
		(<%= formatTimeDiff(currentTime - latestMeasurement.timeStamp) %> ago)
	<% end %>
	</p>
<% end %>
<table>
	<tr>
		<th></th>
		<th>Power (W)</th>
		<th>Energy (kWh)</th>
	</tr>
	<tr>
		<th>Phase A</th>
		<td class="power"><%= formatPower(latestMeasurement.powerA) %></td>
		<td class="energy"><%= formatEnergy(latestMeasurement.energyA) %></td>
	</tr>
	<tr>
		<th>Phase B</th>
		<td class="power"><%= formatPower(latestMeasurement.powerB) %></td>
		<td class="energy"><%= formatEnergy(latestMeasurement.energyB) %></td>
	</tr>
	<tr>
		<th>Phase C</th>
		<td class="power"><%= formatPower(latestMeasurement.powerC) %></td>
		<td class="energy"><%= formatEnergy(latestMeasurement.energyC) %></td>
	</tr>
	<tr>
		<th>Total</th>
		<td class="power"><%= formatPower(latestMeasurement.powerTotal) %></td>
		<td class="energy"><%= formatEnergy(latestMeasurement.energyTotal) %></td>
	</tr>
</table>

<h2>Graphs</h2>

<div class="graph-block">
	<div class="graph-title">Last 10 Minutes</div>
	<img width=1500 height=500 class="graph" src="/graph?width=1500&height=500&interval=600&from=now&def=powerA-5-c00;powerB-5-080;powerC-5-00c;powerTotal-5-000" alt="Graph: Last 10 Minutes, raw">
</div>

<div class="graph-block">
	<div class="graph-title">Last 24 Hours, by 1 minute</div>
	<img width=1500 height=500 class="graph" src="/graph?width=1500&height=500&interval=86400&from=now&def=avgPowerA-60-c00;avgPowerB-60-080;avgPowerC-60-00c;avgPowerTotal-60-000" alt="Graph: Last 24 Hours, by 1 minute">
</div>

<div class="graph-block">
	<div class="graph-title">Last 24 Hours, by 15 minutes</div>
	<img width=1500 height=500 class="graph" src="/graph?width=1500&height=500&interval=86400&from=now&def=avgPowerA-900-c00;avgPowerB-900-080;avgPowerC-900-00c;avgPowerTotal-900-000" alt="Graph: Last 24 Hours, by 15 minutes">
</div>

<div class="graph-block">
	<div class="graph-title">Last 30 Days</div>
	<img width=1500 height=500 class="graph" src="/graph?width=1500&height=500&interval=2592000&from=now&def=avgPowerA-900-c00;avgPowerB-900-080;avgPowerC-900-00c;avgPowerTotal-900-000" alt="Graph: Last 30 Days, by 15 minutes">
</div>

<div class="graph-block">
	<div class="graph-title">Last 1 Year</div>
	<img width=1500 height=500 class="graph" src="/graph?width=1500&height=500&interval=31536000&from=now&def=avgPowerA-86400-c00;avgPowerB-86400-080;avgPowerC-86400-00c;avgPowerTotal-86400-000" alt="Graph: Last 1 Year, by day">
</div>

</body>
</html>
